

<!doctype html>
<html class="no-js" lang="utf-8">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/main.css">

		<!--Main JS-->
        <script type="text/javascript" src="js/tabletop/examples/common/jquery.js"></script>
    	<script type="text/javascript" src="js/tabletop/examples/common/underscore.js"></script>
    	<script type="text/javascript" src="js/tabletop/examples/backbone/backbone.js"></script>
    	<script type="text/javascript" src="js/tabletop/src/backbone.tabletopSync.js"></script>
    	<script type="text/javascript" src="js/tabletop/src/tabletop.js"></script>
    	<script type="text/javascript" src="js/main.js"></script>
    </head>	
    <body>
	    <h1>A Backbone.js example
			<div>
				<form>
		        	<input type='text' name='what' /><br />
		    	</form>
			</div>
	    </h1>
	    <div id='content'>
		    
		</div>

	    <script id="cam-template" type="text/underscore-template">
	      <div class="entry">
	        <h2><%= Make %></h2>
	        <h3><%= Model %></h3>
	        <div class="body">
		        <h5><%= Type %></h5>
		        <h5><%= Codec %></h5>
		        <h5><%= Resolution %></h5>
		        <h5><%= Frame_Rate %></h5>
				<h5><%= Data_Rate %></h5>
			</div>	
	      </div>
	    </script>

	    <div id="content"></div>

	    
	</body>
</html>
