

<!doctype html>
<html class="no-js" lang="utf-8">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/main.css">

		<!--Main JS-->
       	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
       	<script src="http://listjs.com/no-cdn/list.js"></script>
		<script src="http://listjs.com/no-cdn/list.fuzzysearch.js"></script>
    	<script type="text/javascript" src="js/underscore.js"></script>
    	<script type="text/javascript" src="js/backbone.js"></script>
    	<script type="text/javascript" src="js/backbone.tabletopSync.js"></script>
    	<script type="text/javascript" src="js/tabletop.js"></script>
    	<script type="text/javascript" src="js/main.js"></script>
    </head>	
    <body>
	    <h1>Backbone.JS
			<div class="search-container">
				<form>
		        	<input type='text' placeholder="Search..." />
		    	</form>
			</div>
	    </h1>

	    <script id="cam-template" type="text/underscore-template">
		    <div class="entry">
		        <h2 class="make"><%= Make %></h2>
		        <h3 class="model"><%= Model %></h3>
		        <div class="body">
			        <h5 class="type"><%= Type %></h5>
			        <h5 class="codec"><%= Codec %></h5>
			        <h5 class="resolution"><%= Resolution %></h5>
			        <h5 class="frame_rate"><%= Frame_Rate %></h5>
					<h5 class="data_rate"><%= Data_Rate %></h5>
				</div>	
		    </div>
	    </script>

	    <div id="content"></div>

	    
	</body>
</html>
